

html {
  position: relative;
  min-height:100vh;
}
body {
  /* Margin bottom by footer height */
  margin: 50px 0 0 0;
}
.main
{
  padding:0!important;
}
#container
{
	height:calc(100vh - 190px);
	position:relative;
}
#resizable 
{ 
	width:100%;
	height:calc(100vh - 190px);
	border:1px solid #ccc;
  padding-bottom:20px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  .text-muted
  {
  	text-align:center;
  	line-height:50px;
  	margin:0;
  }
}
.logo
{
  width:40px;
  padding:0;
  height:40px;
  margin:5px;
}
.left_block
{
  display:inline-block;
  width:40%;
  float:left;
  a 
    {
      font-size:14px;
      color:#ccc;
      &:hover
      {
        cursor:pointer;
        text-decoration:none;
        color:#fff;
      }
    }
}
.right_block
{
  display:inline-block;
  float:right;
  margin:0;
  li
  {
    display:inline-block;
    line-height:50px;
    padding:0 10px;
    a 
    {
      font-size:14px;
      color:#ccc;
      &:hover
      {
        cursor:pointer;
        text-decoration:none;
        color:#fff;
      }
    }
    &.menu
    {
      position:relative;
      a
      {
        font-size:10px;
      }
    }
  }
  .submenu
  {
    position:absolute;
    right:0;
    height:0;
    overflow:hidden;
    background:#222;
    padding:0;
    width:150px;
    transition:all 0.5s;
    border-radius: 0 0 5px 5px;
    &.show
    {
      height:100px;
      box-shadow: 0px 0px 15px 2px #222;
    }
    li
    {
      display:block;
      line-height:30px;
      a
      {
        font-size:14px;
      }
    }
  }
}
.footer-resize
{
	width:100%;
	height:110px;
	background:#f5f5f5;
	border-top:1px solid #ccc;
	position:absolute;
	bottom:0;
  margin:0;
  &.min
  {
    height:16px;
  }
}

.wrap-text
{
  text-align:center;
  padding:0;
  &.left
  {
    text-align:left;
  }
}
.avatar
{
  width:50px;
  height:50px;
  max-width:100%;
  border-radius:10px;
  &.marg
  {
    margin:5px;
  }
}

.text
{
  width:100%;
  height:50px;
  margin:5px 0;
  background:#fff;
  resize:none;
  border:1px solid #ccc;
}

.container-mess
{
    height: 100%;
    padding-bottom: 110px;
    &.max
    {
      padding-bottom: 0;
    }
    .none
    {
      text-align:center;
      padding-top:10%;
      font-size:20px;
      color:#ccc;
    }
    .wrap-mess
    {
      height:100%;
      overflow:hidden;
    }
}


.message
{
  padding:5px 0;
  margin-top:2px;
  margin-bottom:2px;
  border-radius:2px;
  transition: all 0.5s;
  &.dialog
  {
    border-bottom:1px solid #ccc;
    margin:0;
    &:hover
    {
      background:#f5f5f5;
    }
  }
  p
  {
    margin:0;
    font-size:12px;
    color:#222;
    word-wrap: break-word;
    line-height:13px;
    span
    {
      font-size:12px!important;
      color:#222!important;
      word-wrap: break-word;
      line-height:13px!important;
    }
  }
  .dialog_name
  {

  padding: 1em 5px;
  }
  .name
  {
    font-size: 12px;
    color: #222;
    font-weight: 500;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .date
  {
    font-size: 11px;
    color: #777;
    float:right;
  }
  .date_dialog
  {
    font-size:10px;
    color:#777;
  }

  &.no-read,.no-read
  {
    background:#f1f1f1;
  }

  .mess-text
  {
    padding:5px;
  }
}
.ava
{
  width:25px;
  height:25px;
}
.overlay
{
  width:350px;
  max-width: 100%;
  background:#fff;
  position: fixed;
  top:52px;
  right:0;
  z-index:100500;
  .overlay-mess
  {
    border:1px solid #ccc;
    border-radius:5px;
    display:none;
    -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
  }
}
.ava_top
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    margin: 5px;
}
.ke
{
  margin-right: 3px;
}
@-webkit-keyframes img_typing {
  0%   {
    margin-left:0;
  }
  50%  {
    margin-left:5px;
  }
  100% {
    margin-left:10px;
  }
}
@keyframes img_typing {
  0%   {
    margin-left:0;
  }
  50%  {
    margin-left:5px;
  }
  100% {
    margin-left:10px;
  }
}
.typing
{
  text-align:center;
  color:#777;
  padding:10px 0;
  .img_animate
  {
    width:30px;
    display:inline-block;
    img
    {
      width:15px;
      margin-top:-5px;
      -webkit-transition:all .1s;
      -o-transition:all .1s;
      -moz-transition:all .1s;
      transition:all .1s;
       -webkit-animation: img_typing 1s linear infinite;
    animation: img_typing 1s linear infinite;
    }   
  }
  
}
.search
{
  padding:10px;
  background:#f5f5f5;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  position:relative;
  input
  {
    width:100%;
    padding:5px 5px 5px 35px;
    background-image: url(/images/search.png);
    background-repeat:no-repeat;
    background-size:15px;
    background-position:10px center;
    border:1px solid #ccc;
    &:focus
    {
      outline:1px solid #777;
    }
  }
  .result_search
  {
    width:100%;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    border-bottom:1px solid #ccc;
    z-index: 100500;
    a:hover
    {
      text-decoration:none;
    }
    .single_search
    {
      padding:10px;
      border-top:1px solid #f5f5f5;
      &:hover
      {
        cursor:pointer;
        background:#f5f5f5;
      }
    }
    .none
    {
      padding:10px;
      border-top:1px solid #f5f5f5;
      text-align:center;
      font-size:14px;
    }
  }
  .block_dialog
  {
    display: inline-block;
    background: #f5f5f5;
    color:#444;
    padding: 5px;
    border-radius: 5px;
    font-weight:200;
    transition:all 0.5s;
    i
    {
      opacity:0.2;
      transition:all 0.5s;
      &:hover
      {
        opacity:1;
      }
    }
    &:hover
    {
      text-decoration:none;
      background:#c7c7c7;
    }
    &.active
    {
      background:#444;
      color:#fff;
    }
  }
}
.tabs
{
  border: 1px solid #ccc;
  border-bottom:1px solid #444;
  a
  {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;
    color: #444;
    border-radius: 5px 5px 0 0;
    margin-right:10px;
    font-weight:200;
    transition:all 0.5s;
    &:hover
    {
      background:#f5f5f5;
      text-decoration: none;
    }
    &.active
    {
      background:#444;
      color:#f5f5f5;
      font-weight:200;
    }
  }
}
.profile
{
  padding:20px 0;
  .avatar_wrap
  {
    position:relative;
    overflow:hidden;
    .avatarBig
    {
      width:100%;
    }
    #edit_photo
    {
      position:absolute;
      bottom:-50px;
      border-radius:0;
      background:rgba(0,0,0,0.5);
      color:#fff;
      font-weight: 200;
      transition:all 0.5s;
      opacity:0.8;
      &:hover
      {
        opacity:1;
      }
      &:focus
      {
        outline:0;
      }
      &.show
      {
        bottom:0;
        opacity:1;
      }
    }
    &:hover
    {
      #edit_photo
      {
        bottom:0;
      }
    }
  }  
}

.overlay-back
{
  position:fixed;
  top:0;bottom:0;left:0;right:0;
  background:rgba(0,0,0,0.5);
  width:100%;
  z-index:100500;
  overflow:auto;
  display:none;
  .window
  {
    background:#fff;
    min-height:100px;
    margin-top:20vh;
    margin-bottom:20vh;
    padding:20px;
    .close
    {
      float:right;
    }
    #errors
    {
      padding: 10px;
      text-align: center;
    }
  }
  .boton
  {
    margin:10px;
  }
  p
  {
    line-height:1;
    margin-top:10px;
    margin-bottom:0;
  }
  .jcrop-holder {
      margin: 0 auto;
  }
  #image
  {
    text-align:center;
    #image_crop
    {
      max-width:100%;
      max-height:500px;
    }
    #spinner
    {
      width:30px;
    }
    .loader
    {
      position:absolute;
      top:0;bottom:0;left:0;right:0;
      background:rgba(255,255,255,0.5);
      line-height: 600px;
      z-index: 100500;
    }
  }
}

#avatar
{
  display:none;
}








