<div id="footer">
      <div class="container">
        <p class="text-muted">Copyright © Mesh 2016 Created by 
          <a href='http://pandn.ru' target='_blank'>
            <img src='http://pandn.ru/images/logo_name.png' width=70px alt='Дмитрий Панкратов - Разработка сайтов под заказ'/>
          </a>
        </p>
      </div>
    </div>