<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="left_block">
          <img src='./images/logo.png' class='logo navbar-brand'/> 
          <a class="navbar-brand" href="/">Mesh</a>
        </div>
          <ul class="right_block">
            <li><a href="#"><img class='ava_top' src='<%-user.image%>'/> <%-user.name%></a></li>
            <li class='menu'><a href='#'><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
              <ul class='submenu'>
                <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Профиль</a></li>
                <li><a href="/messages"><i class="fa fa-envelope" aria-hidden="true"></i> Сообщения</a></li>
                <!--<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Настройки</a></li>-->
                <li><a href="#" id='exit'><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>