<% layout('/layout/page') -%>
<% block ('title', title); %>
<% block ('keywords', meta_k); %>
<% block ('description', meta_d); %>
<% block ('header','yes');%>


<div class='col-md-8 col-md-offset-2 profile'>
	<div class='col-md-5 col-sm-5 col-xs-7'>
		<img src='<%-userInfo.image%>' class='avatarBig'/>
	</div>
	<div class='col-md-7 col-sm-7 col-xs-12'>
		<h2><%-userInfo.name%> <%-userInfo.family%> <%if(my=='yes'){%>(Это Вы)<%}%></h2>
	</div>
</div>

<script type="text/javascript" src='/js/scriptKlient.js'></script>